@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
  scroll-behavior: smooth;
}

.hero__background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/heroBg.png");
  background-size: cover;
}

.grid__ctm{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

